* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

.body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

ul,
ol {
  list-style: none;
}

/* Products */
.page-title {
  font-size: 58px;
  font-weight: 400;
  line-height: 72.5px;
}

.title-wrapper {
  padding-top: 15px;
  padding-bottom: 44px;
}

.page-title-inner {
  font-family: "Libre Baskerville", serif;
  font-size: 52px;
  line-height: 72.5px;
}

.products-wrapper {
  padding-bottom: 42px;
}

.products {
  margin-bottom: 64px;
}

.product {
  max-width: 520px;
  width: 100%;
  margin-bottom: 64px;
}

.product:last-child {
  margin-bottom: 0;
}

.product-image {
  width: 100%;
  height: auto;
  background-color: gray;
  margin-bottom: 21px;
}

.product-divider {
  width: 100%;
  margin-bottom: 9px;
}

.product-title {
  color: #464542;
  font-size: 23px;
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 3px;
}

.tags {
  display: flex;
  gap: 5px;
}

.tag {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #6d6b67;
}

/* Products link */
.products-link {
  display: inline-block;
  background-color: #1f1f1f;
  color: #fff;
  text-decoration: none;
  padding: 9px 32px;
  font-size: 17px;
  line-height: 27px;
}

/* Clients */
.clients-section {
  background-color: #f7f6f3;
  padding: 52px 0px 132px 0px;
}

.section-title {
  margin-bottom: 36px;
  color: #1f1f1f;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 49.4px;
}

.section-title-inner {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 140px;
  row-gap: 62px;
  padding: 24px 0px;
  border-top: 1px #6d6b67 solid;
  border-bottom: 1px #6d6b67 solid;
}

.client-logo-1 {
  width: 128px;
  height: 38px;
}

.client-logo-2 {
  width: 184px;
  height: 31px;
}

.client-logo-3 {
  width: 133px;
  height: 34px;
}

.client-logo-4 {
  width: 153px;
  height: 33px;
}

.client-logo-5 {
  width: 117px;
  height: 28px;
}

.client-logo-6 {
  width: 134px;
  height: 42px;
}

.client-logo-7 {
  width: 125px;
  height: 37px;
}

.client-logo-8 {
  width: 168px;
  height: 28px;
}

/* CTA */
.cta {
  background: #e0f391;
  padding: 48px 0px 40px;
}

.cta-divider {
  color: #6d6b67;
  margin-bottom: 24px;
}

.cta-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

.cta-title-inner {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
}
