* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}
